body {
    background-color: burlywood;
    font-weight: bold;
    color: rgb(40, 52, 40);
    margin: 0px 150px;
}

body * {
    margin: 30px;
}

h1,
h2,
h3 {
    text-align: center;
}

.home-image {
    width: 50%;
}


.container {
    text-align: center;
}